[target.xtensa-esp32s2-none-elf]
runner = "espflash flash --before no-reset --no-stub"


[env]
ESP_LOG="INFO"

[build]
rustflags = [
  "-C", "link-arg=-nostartfiles",
]

target = "xtensa-esp32s2-none-elf"

[unstable]
build-std = ["core", "alloc"]
